header {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.trainName {
    border: 2px solid #ffffff;
    background: #ffffff;
    color: black;
    border-radius: 5px;
}

.trainDuration {
    color: #ffffff;
    font-weight: bold;
}

.transilien {
    line-height: 1.5em;
}

.tr-transilien {
    text-align: right;
}

.state {
    color: yellow !important;
}

.oldHoraire {
    text-decoration: line-through;
    font-size: 0.8em;
}

.disruptionCause {
    font-size: 1em;
}