.fa-leaf {
    color: #34a853;
}

.fa-ban {
    color: red;
}

.fa-clock-o {
    color: yellow;
}

.div-transilien {
    width: auto;
    margin: 0 auto;
}

.table-transilien {
    width: auto !important;
    margin: auto;
    border-collapse: collapse;
    table-layout: auto;
    line-height: 1.5em;
}

.tr-heading,
.th-transilien {
    border-bottom: 1px solid #808080;
    font-size: 1em;
    font-style: italic;
    color: #a9a9a9;
}

.td-transilien {
    padding: 5px 25px 5px 25px;
}

.tr-transilien {
    text-align: right;
}

.td-date,
.td-peculiarity,
.td-c02 {
    padding: 5px 25px 5px 25px;
    text-align: right;
}

.td-type,
.td-information,
.td-destination {
    padding: 5px 25px 5px 25px;
    text-align: center;
}

.td-duration {
    padding: 5px 25px 5px 25px;
    text-align: right;
    font-weight: bold;
    color: #fff;
}

.network {
    font-size: 0.6em;
    font-style: italic;
}

.name {
    border: 2px solid #fff;
    border-radius: 5px;
    color: black;
    background: #fff;
}

.deleted {
    color: red !important;
}

.state {
    color: yellow !important;
}

.old-horaire {
    text-decoration: line-through;
    font-size: 0.8em;
    color: #696969;
}

.disruption-cause {
    font-size: 0.8em;
    font-style: italic;
}

.NO_SERVICE {
    text-decoration: line-through red;
}

.END_JOURNEY td {
    padding: 5px 25px 5px 25px;
    border-bottom: 1px solid #808080;
}